@media (max-width:rem(1130)) {
  body {
    // #about, #soldiers, #timeline, #remember {
    //   h1 {
    //     font-size:rem(33);
    //     letter-spacing:rem(2);
    //   }
    // }

  }
}

@media (max-width:rem(1055)) {
  #about, #timeline {
    padding:rem(80) 0 rem(120) 0 !important;
  }
}

@media (max-width:rem(640)) {
  #about, #soldiers, #timeline, #remember {
    h1 {
      font-size:rem(32) !important;
      letter-spacing:rem(1) !important;
    }
  }
}

@media (max-width:rem(460)) {

}

@media (max-width:rem(390)) {

}
