@media (max-width:rem(1055)) {
  #about {
    padding:rem(80) 0 rem(120) 0 !important;
  }

  #soldiers {
    padding:rem(80) 0 rem(100) 0 !important;
  }
}

@media (max-width:rem(640)) {
  #about, #soldiers, #timeline, #remember {
    h1 {
      font-size:rem(32) !important;
      letter-spacing:rem(1) !important;
    }
  }
}
