@media (max-width:rem(1300)) {
  header {
    justify-content:space-between;
    gap:0;
    padding:rem(8) rem(12) rem(12) rem(12);

    .menu {
      gap:rem(10);
    }
  }
}

@media (max-width:rem(990)) {
  header {
    padding:rem(9) rem(9) rem(9) rem(17);

    .toggle-menu {
      display:block;
    }

    .logo {
      width:rem(50);

      img {
        width:rem(56);
      }
    }

    .menu {
      display:none;

      &.active {
        height:rem(270);
        width:100vw;
        position:absolute;
        right:0;
        top:0;
        padding:rem(21) 0 rem(21) 0;
        background:$dark-war;
        display:grid;
        place-items:center;
        z-index:3;
        overflow-x:hidden;
        animation:show-menu .4s linear forwards;

        .close-menu {
          display:block;
        }
        
        li {
          width:rem(300);
          text-align:center;
          height:max-content;
          transition:.3s;

          &:after, &.active:after {
            display:none;
          }

          &:hover, &.active {
            transition:.6s;
            background:$whitish;
            color:$dark-war;
          }
        }

      }
    }
  }

  .home {
    article {
      // background:grey;
      width:rem(570);
    }

    h1 {
      font-size:rem(50);
      line-height:rem(54);
      
    }

    p {
      font-size:rem(18);
      // background:black;
      width:100%;
    }
  }
}

@media (max-width:rem(640)) {

  header {
    .logo {
      width:rem(42);

      img {
        width:rem(46);
      }
    }

    .toggle-menu {
      width:2.5rem;
      height:1.7rem;
  
      &:before {
        width:1.7rem;
        height:.3rem;
        margin-left:-.9rem;
        margin-top:-.6rem;
      }
  
      &:after {
        margin-top:-.1rem;
        margin-left:-.9rem;
        font-size:.6rem;
      }
    }
  }

  .home {
    article {
      width:95vw;
      gap:rem(7);
    }

    h1 {
      font-size:rem(36);
      line-height:rem(39);
    }

    p {
      font-size:rem(16);
      letter-spacing:rem(2);
      width:rem(290);
    }
  }
}

@media (max-width: rem(460)) {
  header .menu.active li {
    width:rem(150);
  }
}

@media (max-width:rem(390)) {
  .home {
    article {
      width:95vw;
      gap:rem(5);
    }

    h1 {
      font-size:rem(30);
      line-height:rem(33);
      letter-spacing:rem(2.5);
      max-width:rem(272);
    }

    p {
      font-size:rem(16);
      letter-spacing:rem(2);
      max-width:rem(285);
    }
  }
}

@media (max-height:rem(300)) {
  header {
    .menu.active {
      height:100vh;
      overflow-y:auto;
    }
  }

  .home {
    article {
      width:rem(295);
      gap:rem(5);
    }

    h1 {
      font-size:rem(30);
      line-height:rem(33);
      letter-spacing:rem(2.5);
      max-width:rem(272);
    }

    p {
      font-size:rem(16);
      letter-spacing:rem(2);
      max-width:100%;
    }
  }
}
