@media (max-width:rem(1300)) {
  footer {
    @include footer-remember;
  }
}

@media (max-width:rem(1055)) {
  #newsletter {
    @include little-size;
    margin:4rem 0 4rem 0;
    height:rem(190);

    article {
      gap:rem(18);
    }

    h1 {
      font-size:rem(30);
      letter-spacing:rem(1);
    }

    input {
      width:rem(280);
      font-size:rem(15);
    }

    button {
      font-size:rem(12);
    }
  }

  footer {
    @include middle-size;
    gap:rem(45);
    margin:0rem auto .5rem auto;

    section {
      flex-wrap:wrap;
      gap:rem(50);
      row-gap:rem(30);
      justify-content:left;
    }

    .copy {
      flex-wrap:wrap !important;
    }

    p {
      width:rem(160) !important;
    }
  }
}

@media (max-width:rem(640)) { 
  footer {
    @include little-size;
    gap:rem(30);

    .copy {
      justify-content:left;
      gap:rem(9);
    }

    section {
      gap:rem(40);
      row-gap:rem(20);
    }
  }
}

@media (max-width:rem(410)) {
  #newsletter {
    @include min-size;
    margin:4rem 0 4rem 0;
    height:rem(180);

    h1 {
      font-size:rem(27);
      letter-spacing:rem(1);
    }

    input {
      width:rem(240);
    }
  }

  footer {
    @include min-size;

    section {
      gap:rem(21);
    }

    article:nth-child(4) li:first-child {
      width:rem(105);
    }
  }
}
