@media (max-width:rem(1366)) {
  #soldiers, #remember {

    h1 {
      margin-left:rem(0) !important;
    }
  }
}

@media (max-width:rem(1300)) {
  #soldiers, #remember {

    h1, .facts {
      width:rem(1000) !important;
      gap:0;
      row-gap:rem(42);
      justify-content:space-between !important;
    }
  }
}

@media (max-width:rem(1055)) {
  #soldiers, #remember {
    gap:rem(55);

    h1, .facts {
      @include middle-size;
    }

    p {
      width:rem(230);
    }
  }

  #remember {
    padding-bottom:6rem !important;
  }
}

@media (max-width:rem(640)) {
  #soldiers, #remember {
    gap:rem(45) !important;

    h1, .facts, p {
      @include little-size;
    }

    .facts {
      gap:rem(36);
    }
  }
}

@media (max-width:rem(410)) {
    #soldiers, #remember {
    gap:rem(35) !important;

    h1, .facts, p {
      @include min-size;
    }

    .facts {
      gap:rem(30);
    }
  }
}
