@import 'config';

#about {
  &, .imgs.active {
    @include flex;
  }

  padding-top:rem(170) !important;
  align-items:start !important;
  gap:rem(56);

  article {
    gap:rem(21);
    display:none !important;

    &.active {
      @include from-left;
    }

    &.active, div {
      display:grid !important;  
    }

    div {
      gap:rem(11);
    }
  }

  p {
    color:$cloudy;
    font-size:rem(21);
    width:rem(490);
    letter-spacing:rem(.5);

    @include weight;
  }

  .imgs {
    display:none;
  }

  .imgs.active {
    align-items:start;
    gap:rem(16);
    position:relative;
    left:rem(-6);

    img {
      width:rem(160);
      object-fit:cover;
      
      @include from-right;

      &:nth-child(2) {
        margin-top:rem(-62);
      }
    }

  }
}
