//header, about and soldiers
$fogwar:#394041;
$dark-war:#2D3233;

$header-ashes:#F6F8F9;
$title-ashes:#EDF2F4;

$text-ashes:#D6E1E6;
$cloudy:rgba(214,225,230,.8);

//timeline
$time-title:#F3D766;

$time-text:#FBF9FF; //input to
$line:rgba(251,249,255,.3);

$point:#8D99AE;
$line-to-dot:rgba(141,153,174,.6);

//remember
$opaque-h2:rgba(237, 242, 244, .8);
$opaque-text:rgba(251, 249, 255, .7);

$b1:rgba(254, 215, 102, .7);
$b2: rgba(141, 153, 174, .7);
$b3: rgba(255, 39, 54, .7);

//newsletter and footer
$text-button:#2D3233; 
$yellow-strong:#F3D766;

$footer-text:rgba(251, 249, 255, .8);

//mixins
@mixin flex {
  display:flex;
  justify-content:center;
  align-items:center;
}

@mixin from-bottom {
  animation:show-from-bottom .7s linear forwards;
}

@mixin from-top {
  animation:show-from-top .7s linear forwards;
}

@mixin from-left {
  animation:show-from-left .7s linear forwards;
}

@mixin from-right {
  animation:show-from-right .7s linear forwards;
}

@mixin weight {
  font-weight:300;
}

//px to rem 
@function rem($pixels, $context: 16) {
  @return ($pixels / $context) * 1rem
}
