@import 'config';

header {
  width:100vw;
  position:absolute;
  top:0;
  left:0;
  gap:rem(790);
  padding:rem(8) 0 rem(12) 0;
  z-index:2;

  @include flex;

  &.fixed {
    position:fixed;
    background:$dark-war;
  }

  .logo, li, button {
    cursor:pointer;
    opacity:.8;
  }

  li, button {
    transition:.2s;

    &:hover, &.active {
      opacity:1;
      transition:.2s;
    }
  }

  .logo {
    overflow:hidden;
    width:rem(60);

    img {
      width:rem(66);
    }
  }

  .toggle-menu {
    display:none;
  }

  ul {
    display:flex;
    gap:rem(15);

    li {
      letter-spacing:rem(2);
      font-size:rem(15);
      padding:rem(11) rem(11);
      color:$header-ashes;
      
      &:after {
        content:'';
        display:block;
        margin: left;
        width:0%;
        height:rem(1);
        margin-top:0rem;
        transition:.2s;
        opacity:.8;
        background:$header-ashes;
      }

      &:hover:after, &.active:after {
        width:100%;
      }
    }
  }
}
