@import 'config';

#home {
  width:100vw;
  height:100vh;

  article {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    width:rem(680);
    gap:rem(12);
  }

  h1, p {
    text-align:center;
  }

  h1 {
    width:100%;
    text-align:center;
    font-size:rem(66);
    width:rem(550);
    letter-spacing:rem(4);
    line-height:rem(70);
  }

  p {
    letter-spacing:rem(2.5);
    color:$cloudy;
    font-size:rem(20);
    width:rem(600);
    font-weight:300;
  }
}
