@import 'config';

.home {
  width:100vw;
  height:100vh;
  display:none;

  &.active {
    h1 {
      @include from-bottom;
    }

    p {
      @include from-top;
    }
  }

  article {
    flex-wrap:wrap;
    width:rem(680);
    gap:rem(12);

    @include flex;
  }

  h1, p {
    text-align:center;
  }

  h1 {
    width:100%;
    font-size:rem(60);
    width:rem(550);
    letter-spacing:rem(3.5);
    line-height:rem(63);
  }

  p {
    letter-spacing:rem(2.5);
    color:$cloudy;
    font-size:rem(20);
    width:rem(600);
    font-weight:300;
  }
}
