@keyframes show-from-bottom {
  from {
    opacity:0;
    transform:translateY(.6rem);
  }

  to {
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes show-arrow-from-bottom {
  from {
    transform:translateY(.6rem);
  }

  to {
    transform:translateY(0);
  }
}

@keyframes show-from-top {
  from {
    opacity:0;
    transform:translateY(-.6rem);
  }

  to {
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes show-from-right {
  from {
    transform:translateX(.6rem);
    opacity:0;
  }

  to {
    transform:translateX(0);
    opacity:1;
  }
}

@keyframes show-from-left {
  from {
    transform:translateX(-.6rem);
    opacity:0;
  }

  to {
    transform:translateX(0);
    opacity:1;
  }
}

@keyframes show-container {
  from {
    transform:scale(.8);
    opacity:0;
  }

  to {
    transform:scale(1);
    opacity:1;
  }
}

@keyframes full-opacity {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

@keyframes zero-opacity {
  from {
    opacity:1;
  }

  to {
    opacity:0;
  }
}

@keyframes show-menu {
  from {
    top:rem(-270);
  }

  to {
    top:rem(0);
  }
}

@keyframes hide-menu {
  from {
    top:rem(0);
  }

  to {
    top:rem(-270);
  }
}

@keyframes arrow-down {
  0% {
    transform:translateY(rem(3));
  }

  50% {
    transform:translateY(rem(0));
  }

  100% {
    transform:translateY(rem(3));
  }
}

@keyframes padding-header-absolute {
  from {
    padding-bottom:rem(4);
    padding-top:rem(5);
  }

  to {
    padding-bottom:rem(9);
    padding-top:rem(9);
  }
}

@keyframes padding-header-fixed {
  from {
    padding-bottom:rem(9);
    padding-top:rem(9);
  }

  to {
    padding-bottom:rem(4);
    padding-top:rem(5);
  }
}

@keyframes full-size {
  from {
    width:0%;
  }

  to {
    width:100%;
  }
}

@keyframes boom {
  0% {
    width:rem(10);
    height:rem(10);
  }

  50% {
    width:rem(25);
    height:rem(25);
  }

  100% {
    width:rem(10);
    height:rem(10);
  }
}
