@import 'config';

//mixins
@mixin flex {
  display:flex;
  justify-content:center;
  align-items:center;
}

@mixin grid {
  display:grid;
  place-items:center;
}

@mixin weight {
  font-weight:300;
}

//size
@mixin size-container {
  width:rem(1060);
}

@mixin footer-remember {
  width:rem(990) !important;
}

@mixin middle-size {
  width:rem(490) !important;
}

@mixin little-size {
  width:rem(373) !important;
}

@mixin min-size {
  width:rem(263) !important;
}

//animations
@mixin from-bottom {
  animation:show-from-bottom .7s linear forwards;
}

@mixin from-top {
  animation:show-from-top .7s linear forwards;
}

@mixin from-left {
  animation:show-from-left .7s linear forwards;
}

@mixin from-right {
  animation:show-from-right .7s linear forwards;
}

@mixin to-appear {
  animation:show-container .7s linear forwards;
}

//px to rem 
@function rem($pixels, $context: 16) {
  @return calc($pixels / $context) * 1rem
}
