@import 'config';

#soldiers { 
  @include flex;
  flex-wrap:wrap;
  gap:rem(38);

  h1, .slide-wrapper {
    @include to-appear;
  }

  .slide-wrapper {
    background:black;
  }

  .slide {
    display:flex;
    gap:rem(17);
  }

  figure {
    flex-shrink:0;
    display:grid;
    gap:rem(9);
  }

  img {
    width:80vw;
    max-width:rem(950);
    height:rem(450);
    object-fit:cover;
  }

  figcaption {
    color:$opaque-text;
    letter-spacing:rem(1);
    margin-left:rem(5);

    @include weight;

    &:before {
      content:'';
      display:block;
      position:absolute;
      background:$b1;
      width:rem(2);
      height:rem(17);
      margin-left:rem(-5);
      margin-top:rem(2);
      opacity:.8;
    }
  }
}
