@import 'config';

.soldiers {
  h1, .slide-wrapper {
    opacity:0;
  }

  &.active {
    h1 {
      @include from-left;
    }

    .slide-wrapper {
      @include from-right;
    }
  }
}

#soldiers { 
  @include flex;
  flex-wrap:wrap;
  gap:rem(38);
  padding-bottom:5.8rem !important;

  .slide {
    display:flex;
    gap:rem(11);

    &:hover {
      will-change:transform;
    }
  }

  figure {
    flex-shrink:0;
    display:grid;
    gap:rem(9);
    position:relative;
    opacity:.5;
    transform:scale(.8);
    transition:.3s;

    &.active {
      opacity:1;
      transform:scale(1);
    }
  }

  img {
    width:80vw;
    max-width:rem(950);
    height:rem(450);
    object-fit:cover;
  }

  figcaption {
    color:$opaque-text;
    letter-spacing:rem(1.5);
    position:absolute;
    background:rgba(9,8,9,1);
    font-size:rem(14);
    width:100%;
    text-align:left;
    bottom:0;
    padding:rem(3) rem(3);
    border-left:rem(3) solid $b1;

    @include weight;
  }
}
