@import 'config';
@import 'mixins';
@import 'keyframes';

* {
  box-sizing:border-box;
  border:0;
  padding:0;
  margin:0;
  border-spacing:0;
}

html, body {
  overflow-x:hidden;
}

body {
  background:$fogwar;
  overflow-y:auto;

  main, .home.active {
    overflow-x:hidden;

    @include grid;
  }

  main, section, article, footer {
    overflow:hidden !important;
  }

  .background {
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    z-index:-1;
    object-fit:cover;
  }

  .scroll-to-about {
    position:absolute;
    width:100vw;
    left:0;
    bottom:2rem;

    &, span {
      @include grid;
    }

    span {
      width:2.5rem;
      height:2.5rem;
      border-radius:100%;
      cursor:pointer;
      transition:.2s;
      @include to-appear;

      img {
        opacity:.8;
        transition:.2s;
        animation:arrow-down 3.6s linear infinite;
      }

      &:hover img {
        opacity:1;
        transition:.2s;
        animation-play-state:paused;
      }
    }
  }

  h1 {
    color:$title-ashes;
  }

  li {
    list-style:none;
  }

  #about, #soldiers, #timeline, #remember {
    h1 {
      font-size:rem(43);
      letter-spacing:rem(2.2);
    }
  }

  #about, #timeline {
    padding:rem(120) 0;
  }

  #soldiers, #remember {
    padding:rem(80) 0;
    background:$dark-war;
    width:100vw;

    h1 {
      width:rem(1050);
      margin-left:rem(-12) !important;
      text-align:left;
    }
  }

  .close-menu-by-outside {
    display:none;

    &.active {
      display:block;
      position:fixed;
      z-index:1;
      top:0;
      width:100vw;
      height:100vh;
      left:0;
      background:$silent;
      animation:full-opacity .4s linear forwards;
    }
  }

  .scroll-to-home {
    display:none;

    &.active {
      @include grid;

      animation:show-arrow-from-bottom .2s linear forwards;
      cursor:pointer;
      position:fixed;
      bottom:2rem;
      right:3.3rem;
      background:$dark-war;
      width:2.5rem;
      height:2.5rem;
      border-radius:100%;
      opacity:.6;
      transition:.2s;
      z-index:1;

      &:hover {
        transition:.2s;
        opacity:1;
      }

      img {
        width:1rem;
        transform:rotate(180deg);
      }
    }

  }
}

@media (max-width:rem(1055)) {
  .scroll-to-home.active {
    right:1rem !important;
  }
}

@media (max-height:rem(500)) {
  .scroll-to-about {
    bottom:.5rem !important;
  }
}

@import 'scroolbar';

@import 'header';
@import 'home';

@import 'about';
@import 'soldiers';

//@import 'timeline';
@import 'remember';

@import 'newsletter';
@import 'footer';

//queries
@import './queries/global';

@import './queries/header-home';
@import './queries/about-soldiers';

@import './queries/timeline-remember';
@import './queries/newsletter-footer';
