@import 'config';
@import 'mixins';
@import 'keyframes';

* {
  box-sizing:border-box;
  border:0;
  padding:0;
  margin:0;
  border-spacing:0;
}

html, body {
  overflow-x:hidden;
}

body {
  background:$fogwar;
  overflow-y:auto;

  main, .home.active {
    overflow-x:hidden;

    @include grid;
  }

  main, section, article, footer {
    overflow:hidden !important;
  }

  .background {
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    z-index:-1;
    object-fit:cover;
  }

  h1 {
    color:$title-ashes;
  }

  li {
    list-style:none;
  }

  #about, #soldiers, #timeline, #remember {
    h1 {
      font-size:rem(43);
      letter-spacing:rem(2.2);
    }
  }

  #about, #timeline {
    padding:rem(120) 0;
  }

  #soldiers, #remember {
    padding:rem(80) 0;
    background:$dark-war;
    width:100vw;

    h1 {
      width:rem(1050);
      margin-left:rem(-12) !important;
      text-align:left;
    }
  }

  .close-menu-by-outside {
    display:none;

    &.active {
      display:block;
      position:fixed;
      z-index:1;
      top:0;
      width:100vw;
      height:100vh;
      left:0;
      background:$silent;

      animation:full-opacity .4s linear forwards;
    }
  }
}

@import 'scroolbar';

@import 'header';
@import 'home';

@import 'about';
@import 'soldiers';

//@import 'timeline';
@import 'remember';

@import 'newsletter';
@import 'footer';

//queries
@import './queries/global';

@import './queries/header-home';
@import './queries/about-soldiers';

@import './queries/timeline-remember';
@import './queries/newsletter-footer';
